@model IEnumerable<Models.DataViewModels.CurrencyManagement.CurrencyDTO>

@{
    ViewBag.Title = "Currency Data";
}

<h2>Currency Data</h2>

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Update with latest data", "FillDBWithNew", new { user = User.Identity.Name.Substring(0, User.Identity.Name.IndexOf("@")) }, new { @class = "btn btn-outline-primary" })
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rateFormated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diffFormated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validFromDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr @((TempData["codes"] != null) ? (((TempData["codes"] as List<string>).Any(i=>i.ToString().Equals(item.code))) ? "class=success" : String.Empty) : String.Empty) >
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rateFormated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diffFormated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.validFromDate)
        </td>
        @if (User.IsInRole("Admin"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { code = item.code }, new { @class = "btn btn-primary" })
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
        }
    </tr>
}

</table>
